application/eip-hr-hcm/target/classes/human-resource.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
    xmlns:ss="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.1/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <data-mapper:config name="Map_To_GetWorkersRequestType" transformationGraphPath="map_to_getworkersrequesttype.grf" doc:name="Map_To_GetWorkersRequestType"/>

    <flow name="human-resourceFlow">
        <http:listener config-ref="HTTPS_EIP_Listener_Configuration" path="hcm/HumanResource/GetWorkers" allowedMethods="GET, POST" doc:name="hcm/HumanResource/GetWorkers"/>
         	<mule-ss:http-security-filter realm="mule" />
           	<mule-ss:authorization-filter requiredAuthorities="ROLE_HCM"/>
        <flow-ref name="eip-hrc-security" doc:name="eip-hrc-security"/>
        <set-variable variableName="format" value="#[payload.'Format']" doc:name="format"/>
        <logger message="flow var format: #[flowVars.format]  payload PageSize: #[payload.'PageSize']   payload Page: #[payload.'Page']" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="Map_To_GetWorkersRequestType" doc:name="Map To GetWorkersRequestType">
            <data-mapper:input-arguments>
                <data-mapper:input-argument key="version">${workday.webservice.version}</data-mapper:input-argument>
                <data-mapper:input-argument key="page">#[payload.'Page']</data-mapper:input-argument>
                <data-mapper:input-argument key="pageSize">#[payload.'PageSize']</data-mapper:input-argument>
            </data-mapper:input-arguments>
        </data-mapper:transform>
        <wd-hr:get-workers config-ref="Workday_Human_Resource" doc:name="Workday Human Resource"/>
        <logger message="wd connector done" level="INFO" doc:name="Logger"/>
        <logger message="payload: #[payload]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[(flowVars.format != empty) &amp;&amp; (flowVars.format.toUpperCase() == &quot;JSON&quot;)]">
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <otherwise>
                <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
            </otherwise>
        </choice>
        <logger message="conversion to xml or json done" level="INFO" doc:name="Logger"/>
        <flow-ref name="eip-hrc-logger" doc:name="eip-hrc-logger"/>
        <exception-strategy ref="CatchExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
